@model List<BattleOfMinds.Models.Models.Questions>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Menu</title>
    <link rel="stylesheet" href="~/css/MainMenuStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="~/js/main.js"></script>

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link href="~/css/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/css/DataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/DataTables/css/dataTables.jqueryui.css" rel="stylesheet" />

</head>
<body>
   <!-- <div class="menu-bar">
    <label class="logo">Quiz Game</label>
    <i class="fa fa-bars"></i>
    <ul class="menu-tools">
        <li><a href="#">Home</a></li>
        <li><a href="/Home/Add">Add</a></li>
        <li><a href="/Home/AllQuestions">Remove</a></li>
        <li><a href="/Home/AllQuestions">Correction</a></li>
        <li><a href="#">Approve</a> </li>
        <li><a href="/Home/Recycle"><i class="fa-solid fa-trash"></i></a></li>
        
    </ul>-->
       
   

    <section id="topnav">
   <div class="menu-icon">
    <i class="fa fa-bars"></i>
    </div>
    <nav class="menu-bar">
    <ul class="menu-tools">
      <li><a href="#">Home</a></li>
        <li><a href="/Home/Add">Add</a></li>
        <li><a href="/Home/AllQuestions">Remove</a></li>
        <li><a href="/Home/AllQuestions">Correction</a></li>
        <li><a href="/Home/Correction">Approve</a></li>
        <li><a href="/Home/Recycle"><i class="fa-solid fa-trash"></i></a></li>
    </ul>
    </nav>
    </section>

      @*  <ul class="menu-tools">
            <li><a id = "btnAdd">Add Question</a></li>
            <li><a id = "btnUpdate">Update Question</a></li>
            <li><a id = "btnDelete">Delete Question</a></li>
            <li><a id = "btnApprove">Approve Question</a></li>
            <li><a id = "btnDeleted">Deleted Question</a></li>
        </ul>

    *@
        
    </div>

    <div id="intro">
        <video autoplay muted loop id="myVideo">
    <source src="/videos/myvideo.mp4" type="video/MP4">
</video>
    </div>
    </body>


@*<div class="card">
    <div class="card-body">
        <h4 class="header-title">Question List</h4>
        <div class="data-tables">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="dataTable" class="text-center dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="dataTable_info" style="width: 1511px;">
                            <thead class="bg-light text-capitalize">
                                <tr role="row">
                                    <th class="sorting" aria-controls="dataTable" style="width: 50px;">Id</th>
@*                                    <th class="sorting" aria-controls="dataTable" style="width: 200px;">Category Name</th>
                                    <th class="sorting" aria-controls="dataTable" style="width: 200px;">Question Type</th>
*@                                  @*  <th class="sorting" aria-controls="dataTable" style="width: 300px;">Question Description</th>
                                    <th class="sorting" aria-controls="dataTable" style="width: 200px;">Option 1</th>
                                    <th class="sorting" aria-controls="dataTable" style="width: 200px;">Option 2</th>
                                    <th class="sorting" aria-controls="dataTable" style="width: 200px;">Option 3</th>
                                    <th class="sorting" aria-controls="dataTable" style="width: 200px;">Option 4</th>
                                    <th class="sorting" aria-controls="dataTable" style="width: 200px;">Option 5</th>
                                    <th class="sorting" aria-controls="dataTable" style="width: 200px;">Question Answer</th>
                                    <th class="sorting" aria-controls="dataTable" style="width: 50px;">Deleted</th>
                                    <th class="sorting" aria-controls="dataTable" style="width: 50px;">Approved</th>
                                </tr>
                            </thead>
                            <tbody>*@
                            @*@*    @foreach (var question in Model)
                                {
                                    <tr role="row" class="odd">
                                        <td>@question.Id</td>
@*                                        <td>@question.QuestionCategories.QuestionCategoryName</td>
                                        <td>@question.QuestionType</td>
*@                                    @*    <td>@question.QuestionDescription</td>
                                        <td>@question.Option1</td>
                                        <td>@question.Option2</td>
                                        <td>@question.Option3</td>
                                        <td>@question.Option4</td>
                                        <td>@question.Option5</td>
                                        <td>@question.QuestionAnswer</td>
                                        <td>@question.isDeleted</td>
                                        <td>@question.isApproved</td>
                                        <td><a class="btn btn-outline-success" href="~/Home/EditQuestion/@question.Id">Edit</a></td>
                                        <td><a class="btn btn-outline-success" href="~/Home/RemoveQuestion/@question.Id">Remove</a></td>
                                        <td><a class="btn btn-outline-success" href="~/Home/ApproveQuestion/@question.Id">Approve</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
*@
@*
</html>

   <script src="~/js/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/js/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/js/DataTables/jquery.dataTables.js"></script>
    <script src="~/js/DataTables/dataTables.responsive.min.js"></script>
    <script src="~/js/DataTables/responsive.bootstrap.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

<script>

</script>*@
